* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}
.container_link{
  display:flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: solid;
  list-style-type: none;
}
.link{
  text-decoration: none;
  font-size:25px;
}

.link:hover{
  color:green;
}
section{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  color:bisque;
  scroll-snap-align:start;
}

/* also oke mandatory */
.container{
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}
.one{
  background: rgb(36,164,138);
  height: 30vh;
}
.two{
  background: rgb(211,79,138);
}
.three{
  background: rgb(67,91,138);
}
.four{
  background: rgb(6, 41, 34);
}